<div class="page-header">
	<h1>This is K-boom!</h1>
</div>
<h2>What is K-Boom?</h2>
<p>K-Boom is a new way to create, share and organize events which are spontaneous, oen and a little bit crazy</p>
<h2>When is K-Boom happening</h2>
<p>K-Boom is scheduled for the end of June</p>